<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>INDEX</h1>
<div>
    <fieldset style="width:250px;">
        <legend>CONNECTION</legend>
        <div style="display:flex;justify-content : space-between;">
            <input class="com_port">
            <button class="conn_btn">CONN</button>
        </div>
    </fieldset>
    <fieldSet style="width:250px;">
        <legend>LED</legend>
        <div style="display:flex;justify-content:space-between;">
            <button class="led_on">LED ON</button>
            |
            <button class="led_off">LED OFF</button>
        </div>
    </fieldSet>
</div>
<div style="display:flex;">
    <fieldSet style="width:100px;">
        <legend>LED상태</legend>
        <span class="led_info"></span>
    </fieldSet>
    <fieldSet style="width:100px;">
        <legend>온도센서</legend>
        <span class="tmp_info"></span>
    </fieldSet>
    <fieldSet style="width:100px;">
        <legend>조도센서</legend>
        <span class="light_info"></span>
    </fieldSet>
    <fieldSet style="width:100px;">
        <legend>초음파센서</legend>
        <span class="distance_info"></span>
    </fieldSet>
</div>

<!-- axios cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    const led_on_btn = document.querySelector('.led_on');   // LED 켜기 버튼 요소 선택
    const led_off_btn = document.querySelector('.led_off'); // LED 끄기 버튼 요소 선택

    const led_info_el = document.querySelector('.led_info');    // LED 정보 버튼 요소 선택
    const tmp_info_el = document.querySelector('.tmp_info');    // 온도 정보 버튼 요소 선택
    const light_info_el = document.querySelector('.light_info');    // 조도 정보 버튼 요소 선택
    const distance_info_el = document.querySelector('.distance_info');  // 거리 정보 버튼 요소 선택

    const messageInterval=null; // 메시지 간격 초기화


    const conn_btn = document.querySelector('.conn_btn');   // 연결 버튼 요소 택
    conn_btn.addEventListener('click',function(){   // 클릭 이벤트

         const port = document.querySelector('.com_port').value;    // 입력된 시리얼 포트 값 가져오기
         axios.get(`/arduino/connection/${port}`)   // 시리얼 포트 연결 요청
        .then(response=>{
            console.log(response.status);   // 응답 상태 출력
            if(response.status == 200)  // 연결 성공시
            {
                  if(messageInterval!=null){    // 메시지 간격이 null이 아니라면(이전에 설정된 반복 요청이 있다면)
                    clearInterval(messageInterval); //기존 요청 반복 제거
                  }
                  //만약 연결에 성공했다면 요청
                   messageInterval =  setInterval(()=>{
                        req_led_info_func();    // LED 정보 요청
                        req_tmp_info_func();    // 온도 정보 요청
                        req_light_info_func();  // 조도 정보 요청
                        req_distance_info_func();   // 거리 정보 요청
                    },1000);    // 1초마다 요청
            }


        })
        .catch(error=>{});

    });


    led_on_btn.addEventListener('click',function(){

        axios.get('/arduino/led/1') // LED 켜기 요청
        .then(response=>{})
        .catch(error=>{});

    });
    led_off_btn.addEventListener('click',function(){
        axios.get('/arduino/led/0') // LED 끄기 요청
        .then(response=>{})
        .catch(error=>{});
    });

    //----------------------------------------------------------------
    // Message Received Interval Function
    //----------------------------------------------------------------
    //1초마다 반복요청
    const req_led_info_func = ()=>{
        axios.get('/arduino/message/led')   // LED 메시지 요청
        .then(response=>{
            led_info_el.innerHTML =  response.data; // LED 정보 업데이트
        })
        .catch(error=>{});
    }
    const req_tmp_info_func = ()=>{
        axios.get('/arduino/message/tmp')   // 온도 메시지 요청
        .then(response=>{
            tmp_info_el.innerHTML =  response.data; // 온도 정보 업데이트
        })
        .catch(error=>{});
    }
    const req_light_info_func = ()=>{
        axios.get('/arduino/message/light') // 조도 메시지 요청
        .then(response=>{
            light_info_el.innerHTML =  response.data;   // 조도 정보 업데이트
        })
        .catch(error=>{});
    }
    const req_distance_info_func = ()=>{
        axios.get('/arduino/message/distance')  // 거리 메시지 요청
        .then(response=>{
            distance_info_el.innerHTML =  response.data;    // 거리 정보 업데이트
        })
        .catch(error=>{});
    }

</script>

</body>
</html>